@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
    font-family: 'Courier Prime', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #ffffff; /* White background */
    color: #242629; /* Dark grey text color */
    overflow: hidden; /* Hide browser UI */
}

button {
    width: 80%;
    max-width: 400px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #3366cc; /* Blue background */
    color: #ffffff; /* White text */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background: #098ee1; /* Light blue for hover effect */
}

.clear-button {
    background: #838c99; /* Grey color for clear button */
    color: #ffffff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.clear-button:hover {
    background: #636c77; /* Darker grey for hover effect */
}

.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch-label {
    font-size: 18px;
    margin: 0 10px;
    color: #242629; /* Dark grey text color */
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch-button input {
    display: none;
}

.switch-button span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3366cc; /* Blue background */
    border-radius: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Light shadow */
    transition: background-color 0.3s;
}

.switch-button span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: #ffffff; /* White color for switch handle */
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-button input:checked + span {
    background-color: #098ee1; /* Light blue when checked */
}

.switch-button input:checked + span:before {
    transform: translateX(26px);
    background-color: #ffffff; /* White color for switch handle */
}

.container {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff; /* White background */
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Updated box shadow for container */
    overflow: hidden; /* Hide overflowing jagged edges */
    z-index: 1; /* Set a higher z-index to ensure it's above other elements */
}

.container::before, .container::after {
    content: '';
    position: absolute;
    width: calc(100% - 40px); /* Adjust width as needed */
    height: 20px; /* Height of jagged edge */
    background: #ffffff; /* Background color of jagged edge */
    mask-image: 
        conic-gradient(from 135deg at top, #ffffff 0%, #ffffff 10%, transparent 11%, transparent 50%, #ffffff 51%, #ffffff 60%, transparent 61%, transparent 100%) top/18px 51% repeat-x,
        conic-gradient(from -45deg at bottom, #ffffff 0%, #ffffff 10%, transparent 11%, transparent 50%, #ffffff 51%, #ffffff 60%, transparent 61%, transparent 100%) bottom/18px 51% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-size: 18px 100%; /* Size of the jagged edge */
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    background: transparent; /* Ensure the background is transparent */
}

li {
    background: #ffffff; /* White background for list items */
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px dashed #838c99; /* Grey dashed line to simulate a receipt */
    margin: 0;
    color: #242629; /* Dark grey text color */
}

li span {
    font-weight: bold;
}

/* Prevent zooming and hide browser UI */
html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-content-zooming: none;
    -ms-touch-action: none;
}

/* Hide browser UI */
body {
    overflow: hidden;
}
